html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto';
    outline: none;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

input[type="submit"],
input[type="text"],
input[type="email"],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--black-1);
}
::selection {
    color: var(--white);
    background: var(--black-1);
}

:root {
    --white: #ffffff;
    --gray-1: #faf5f5;
    --gray-2: #cccccc;
    --gray-3: #f1f0f0;
    --black-1: #575757;
    --purple-1: #7B61FF;
    --linear-gradient-1: linear-gradient(77.73deg, #443e93 8.14%, #7B61FF 90.22%);
}

/* row */
.row {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.row .inner {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
}

/* zip-box */
.zip-box {
    position: absolute;
    width: 380px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: var(--gray-1);
    padding: 60px 30px;
    overflow-y: auto;
}
.zip-box .pin {
    display: inline-block;
    width: 130px;
    margin-bottom: 30px;
}
.zip-box .pin img {
    display: block;
    width: 100%;
    height: auto;
}
.zip-box .entry,
.zip-box .entry .group {
    display: block;
}
.zip-box .entry {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.zip-box .entry label {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: var(--black-1);
    top: 8px;
    left: 10px;
    background-color: var(--gray-1);
    text-transform: uppercase;
    pointer-events: none;
}
.zip-box .entry .group {
    font-size: 0;
}
.zip-box .entry .group input[type="text"],
.zip-box .entry .group button {
    display: inline-block;
    font-size: initial;
}
.zip-box .entry .group input[type="text"] {
    width: calc(100% - 110px);
    height: 40px;
    padding: 8px;
    background-color: var(--gray-1);
    border: solid 1px var(--gray-2);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.zip-box .entry .group button {
    width: 110px;
    padding: 8px;
    height: 40px;
    border: none;
    background: var(--linear-gradient-1);
    color: var(--white);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}
.zip-box .show-address,
.zip-box .show-address .head {
    display: block;
}
.zip-box .show-address {
    margin-top: 30px;
    padding: 15px;
    border: dotted 2px var(--purple-1);
    border-radius: 10px;
    
    visibility: hidden;
    transform: scale(0);
    -webkit-transform: scale(0);

    transition: all ease .15s;
    -webkit-transition: all ease .15s;
}
.zip-box .show-address.active {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.zip-box .show-address .head {
    font-size: 0;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: dotted 2px var(--purple-1);
}
.zip-box .show-address .head .col {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.zip-box .show-address .head .col:nth-child(1) {
    width: calc(100% - 50px);
    text-align: left;
}
.zip-box .show-address .head .col:nth-child(2) {
    width: 50px;
    text-align: right;
}
.zip-box .show-address .head b {
    color: var(--black-1);
}
.zip-box .show-address .head a {
    font-size: 25px;
    color: var(--purple-1);
}
.zip-box .show-address p {
    font-size: 16px;
    color: var(--black-1);
}

/* address-box */
.addresses-box {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 410px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--gray-1);
}
.addresses-box .empty {
    position: relative;
    display: block;
    text-align: center;
    opacity: .15;
}
.addresses-box .empty p {
    margin: 0;
    font-size: 40px;
    color: var(--purple-1)
}
.addresses-box .empty .icon {
    font-size: 15rem;
    color: var(--purple-1);
}
.addresses-box .heading h2 {
    font-size: 25px;
}
.addresses-box .items {
    display: block;
}
.addresses-box .items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.addresses-box .items ul li {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: var(--black-1);
}
.addresses-box .items ul li:last-child {
    margin-bottom: 0;
}
.addresses-box .items ul li:nth-child(odd) {
    background-color: var(--gray-3);
}
.addresses-box .items ul li:nth-child(even) {
    background-color: var(--white);
}

/* heading */
.heading {
    display: block;
    margin-bottom: 30px;
}
.heading h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--black-1);
    margin: 0;
}